.nav-back {
  background-image: linear-gradient(to right, #251013, #8C3E4B);
}

.logo {
  font-size: small;
}

.header-back {
  background-image: url('Components/Images/black_header.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 18%;
  padding-bottom: 15%;
}

.design {
  content: "";
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 78px;
  background-image: url('Components/Images/02.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
}

.header-lap-img {
  width: 45%;
  right: 5%;
  bottom: 1%;
}

.header-dis {
  font-size: 0.9em;
}

.icon-back {
  background-color: #DBF3FD;
  color: #4AC4F3;
  font-size: 1.4em;
}

.service-box {
  box-shadow: rgba(109, 107, 107, 0.2) 5px 2px 18px 0px;
}

.Number-back {
  background-image: url("Components/Images/08.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.features {
  background-color: #F5F7FB;
}

.card-rotate {
  transition: transform 1s;
}

.card-rotate:hover {
  transform: rotate(-5deg);
}

.floating-circle {
  border: 22px solid #9c4b59;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  animation: float 2.5s none infinite linear;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(0px, -30px);
  }

  50% {
    transform: translate(0px, 15px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.price-top {
  background-image: url('Components/Images/13.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.price-top-gradient {
  background-image: linear-gradient(to right, #292525, #8C3E4B);
  opacity: 0.7;
}

.price-design {
  bottom: 0.2%
}

.acc-bg {
  background-color: #F5F7FB;
}

@media only screen and (max-width: 768px) {
  .header-dis {
    font-size: 0.4em;
  }


  .floating-circle {
    height: 180px;
    width: 180px;
  }

  .laptop {
    top: 10%;
  }

  .price-design {
    bottom: -0.3%
  }

  .dots {
    display: none;
  }

  .accordion {
    margin-top: 25%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .dots {
    margin: 7% 0%;
  }
  .accordion {
    margin-top: 25%;
  }
}